 /*.#page.top-bg {*/

 /*  margin-top: 300px;*/

 /*  margin-bottom: 50px;*/

 /*}*/

 .main {
     width: 1170px;
     margin-right: auto;
     margin-left: auto;
 }

 .about-tudou {
     padding: 38px 120px 58px 114px;
     margin-bottom: 60px;
     position: relative;
     background-color: #fff;
 }

 .about-tudou p {
     margin-bottom: 24px;
     font-size: 14px;
     text-align: left;
     color: #666;
     line-height: 26px;
 }

 .about-tudou>h3 {
     height: 30px;
     margin-bottom: 26px;
     font-size: 30px;
     line-height: 30px;
     font-weight: 500;
     color: #666;
 }
