.el-tabs__item:hover {
  color: #33CCD3;
}
#teachers{
  .el-tabs__item {
    height: auto !important;
  }
  #buttonddr {
    /*tab切换课程大纲和讲义*/
    .el-tabs__nav-wrap::after {
      width: 0
    }
    .el-tabs__active-bar {
      display: none;
    }
    .el-tabs__item {
      /*background: #F5F5F5;*/
      margin-right: 20px;
      padding: 0 20px;
      border-radius: 20px;
      font-weight: bold;
    }
    .el-tabs__item.is-active {
      /*background: #33CCD3;*/
      border: 1px solid #33CCD3;
      color: #33CCD3;
    }
    .name_list img {
      margin-right: 80px;
    }
    .name_lists img {
      margin-left: 80px;
    }
    .name_lists {
      background: #F9FAFC;
    }
    .fontsize_list {
      font-size: 14px;
      color: #666666;
      line-height: 30px;
    }
    .dashboard-font {
      width: 1169px;
      margin: 1% auto;
    }
    .Interlayer {
      display: flex;
      margin: 1% auto;
      justify-content: space-between
    }
  }
}
