#indd1 {
    .curriculum {
        width: 1169px;
        margin: 1% auto;
    }
    .tabs_list {
        display: flex;
        align-items: center;
    }
    .tabs_list_items {
        width: 1169px;
        background: #ffffff;
        padding-left: 50px;
        line-height: 60px;
    }
    .el-tabs__nav {
        width: 100%;
        height: 68px;
        line-height: 68px;
        display: flex;
        background: #ffffff;
        justify-content: space-around;
    }
    .el-tabs__item {
        line-height: 68px;
    }
    .el-tabs__item.is-active {
        color: #33CCD3;
    }
    .el-tabs__active-bar {
        background-color: #33CCD3;
    }
    .el-progress {
        line-height: 3;
    }
    .el-radio__inner {
        display: none;
    }
    .el-radio__input.is-checked+.el-radio__label {
        color: #ffffff;
    }
    .el-scrollbar__view {
        display: flex;
    }
    .Coupona {
        width: 45%;
        height: 135px;
        padding: 10px;
        display: inline-block;
        margin-bottom: 20px;
        background-color: #33CCD3!important;
        /*background-image: linear-gradient(to right, #FBE3B8 , #FCF1DA);*/
    }
    .Couponb {
        width: 45%;
        height: 135px;
        margin-bottom: 20px;
        padding: 10px;
        background-color: #9AABB8!important;
        /*background-image: linear-gradient(to right, #FBE3B8 , #FCF1DA);*/
    }
    .Couponc {
        width: 45%;
        height: 135px;
        padding: 10px;
        margin-bottom: 20px;
        background-color: #33CCD3!important;
        opacity: 0.5;
        /*background-image: linear-gradient(to right, #FBE3B8 , #FCF1DA);*/
    }
    .Coupon_lost {
        width: 45%;
        height: 135px;
        padding: 10px;
        margin-bottom: 20px;
        background-color: #FBE3B8;
        background-image: linear-gradient(to right, #DBDBDB, #ECECEC);
    }
    .Coupon-list {
        border: 1px dashed #ffffff;
        width: 99.5%;
        display: flex;
        line-height: 36px;
        align-items: center;
        justify-content: space-around;
        height: 110px
    }
    .el-tabs__item:hover {
        color: #33CCD3;
    }
    /*// tabs变圆角*/
    .el-tabs__nav-wrap {
        border-radius: 10px;
    }
    .el-progress-bar__inner {
        background-color: #33CCD3!important;
    }
    .marginleft {
        margin-right: 30px;
    }
    .over-list>p:not(:first-child) {
        display: none;
    }
    .over-list p {
        width: 1160px;
        height: 16px;
        line-height: 16px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        white-space: nowrap;
        color: #849191;
        margin: 0;
        padding-right: 50px;
    }
    .over-list {
        display: flex;
    }
    .addresslist {
        width: 600px;
        margin: 0 auto;
        padding: 50px 0;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: #999999;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder {
        color: #999999;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {
        color: #999999;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: #999999;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner,
    .el-checkbox__input.is-indeterminate .el-checkbox__inner,
    .el-checkbox__inner {
        border-radius: 50%;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner,
    .el-checkbox__input.is-indeterminate .el-checkbox__inner {
        background-color: #33CCD3;
        border-color: #33CCD3;
    }
    .el-checkbox__input.is-checked+.el-checkbox__label {
        color: #33CCD3;
    }
}
