.el-tabs__content {
    border-radius: 10px;
}

.el-pager li.active {
    color: #33CCD3;
}

.el-pager li:hover {
    color: #33CCD3;
}

.addkuang:hover {
    border: 2px solid #33CCD3;
    border-bottom: 2px solid #33CCD3!important;
}

.addkuang {
    border-bottom: 1px solid #E1E7EB!important;
    border: 2px solid transparent;
}

.el-tabs__item:hover {
    color: #33CCD3;
}

.el-tabs__header {
    padding-left: 40px;
}

.el-tabs__nav-next,
.el-tabs__nav-prev,
.el-tabs__nav-next {
    height: 28px!important;
    line-height: 28px!important;
}

#Bklist {
    .el-pagination {
        height: 80px;
        line-height: 80px;
        background: #ffffff;
        padding-top: 23px;
        color: #666666;
    }
    /*tab切换课程大纲和讲义*/
    .el-tabs__nav-wrap::after {
        width: 0
    }
    .el-tabs__active-bar {
        display: none;
    }
    .el-tabs__item {
        margin-right: 5px;
        padding: 0 20px;
        border-radius: 20px;
        color: #999999;
        font-size: 16px;
        height: 28px;
        line-height: 28px;
    }
    .el-tabs__item.is-active {
        background: #33CCD3;
        color: #ffffff;
    }
    .el-tabs__nav-wrap::after {
        height: 1px !important;
    }
    .el-tabs__nav-scroll {
        width: 63% !important;
    }
    .dashboard-font {
        width: 1169px;
        margin: 1% auto;
        padding-bottom: 44px;
    }
    .Interlayer {
        display: flex;
        margin: 1% auto;
        justify-content: space-between
    }
    .el-tabs__item.is-active {
        color: #ffffff;
    }
    .el-tabs__active-bar {
        background-color: #33CCD3;
        width: 40px!important;
        margin-left: 30px;
    }
}

.over-list {
    width: 600px;
    height: 16px;
    overflow: hidden;
    line-height: 16px;
    display: block;
    font-size: 14px;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    color: #849191;
    margin: 0;
}

.titlelist {
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.over-listsss {
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #9AABB8;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #9AABB8;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #9AABB8;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #9AABB8;
}

.el-tabs__nav-wrap.is-scrollable {
    box-sizing: border-box !important;
    padding: 0 0px !important;
}
