#mydetails{
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
  .dialog_list_nav{
    width: 540px !important;
    height: 540px !important;
    border-right: 10px;
  }
  .banner_list{
    width: 100%;
    height: 140px;
    overflow: hidden;
    margin-left: 45%;
  }
  .button_list{
    width: 146px;
    height: 49px;
    background: #FCC80D;
    text-align: center;
    border-radius: 25px;
    color: #ffffff;
    display: grid;
    align-items: center;
    font-size: 14px;
    cursor:pointer;
  }
  .button_lists{
    width: 146px;
    height: 49px;
    background: #E6213A;
    text-align: center;
    border-radius: 25px;
    color: #ffffff;
    align-items: center;
    display: grid;
    font-size: 14px;
    margin-left: 20px;
  }
  .el-tabs__nav-wrap::after{
    width: 0;
    background: #ffffff;
  }
  .el-tabs__nav-wrap::after{
    width: 0
  }
  .el-tabs__active-bar {
    display: none;
  }
  .el-tabs__item{
    background: #F5F5F5;
    margin-right: 20px;
    padding: 0 20px;
    border-radius: 20px;
  }
  .el-tabs__item.is-active{
    background: #33CCD3;
    color: #ffffff;
  }
  .el-tabs__item.is-active:hover{
    color: #ffffff;
  }
  .el-tabs__nav-scroll{
    margin-bottom: 20px;
  }
  .el-tabs__item:hover{
    color: #33CCD3;
  }
  .xiniaologo{
    position: absolute;
    top: 40px;
    left: 190px;
    width: 180px;
    background: #ffffff;
  }
  .iframe_nav{
    width: 100%;
    height: 420px;
    border: none
  }
  .tab_title div{
    cursor:pointer;
  }
  .time_list{
    font-size: 12px;
    margin: 2px;
  }
  .time_obj{
    color: #E6213A;
    background: #EDF0F2;
    font-size: 18px;
    padding: 2px;
    border-radius: 2px;
    font-family: "GROTESKIA";
  }
  .over-lists {
    overflow: hidden;  /** 隐藏超出的内容 **/
    word-break: break-all;
    text-overflow: ellipsis; /** 多行 **/
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
  }
}
