.el-form-item__error{
  left: 60px;
  padding-top: 10px;
}
.dialog_lists{
.el-dialog__body{
  padding: 20px 30px!important;
}
}
.hoverisname:hover{
border: 2px solid #33CCD3;
border-radius: 10px;
}
.hoverisnameed{
border: 2px solid #33CCD3!important;
border-radius: 10px!important;
}
.hoverisname{
margin-bottom: 20px;
border-radius: 10px;
border: 2px solid #f0f0f0;
}
